@import _red-button
$main-color: #b11
$in-header-height: 50px


header
  position: fixed
  background-color: $main-color
  height: 50px
  width: 100%
  padding-top: 30px
  padding-left: 30px
  margin-top: -20px
  margin-left: -20px
  margin-bottom: 20px
  overflow: hidden
  *
    display: inline-block
    float: left
    position: relative
  .mosigra-logo
    background-image: url("images/mosigra-logo-white.png")
    background-size: cover
    width: 60px
    height: $in-header-height
    margin-top: -5px
  .coffee-out-logo
    background-image: url("images/coffee-out-logo-white1.png")
    background-size: cover
    width: 50px
    height: $in-header-height
    margin-top: -5px
  .mosigra-text
    background-image: url("images/mosigra-text-white.png")
    background-size: cover
    width: 270px
    height: $in-header-height
    margin: -5px 30px 0 0
  menu 
    margin: 5px 0 0 0
    padding: 0
    .checked-button
      color: white
      background-color: #c33
    .checked-button:hover
      background-color: #d33
    a
      @extend .red-button 
      text-decoration: none
    a:hover
      @extend .red-button:hover
      cursor: pointer
      text-decoration: none
    a:last-child
      border-right: 0px solid white
  .log-out-block
    float: right
    .log-out-block *
      float: left
      *
        float: left
  .exit-button
    float: right
  .exit-button, .enter-button
    @extend .log-in-out-button
    margin-right: 30px
  .log-out-block a 
    @extend .log-in-out-button
  .exit-button:hover, .enter-button:hover, .log-out-block a:hover
    background-color: #c33
    cursor: pointer

.log-in-out-button
  background-color: $main-color
  border: 0px
  color: white
  padding: 5px
  font-size: 16px
  margin-top: 5px