@import _red-button
$main-color: #b11

header
  position: fixed
  background-color: $main-color
  height: 100px
  width: 100%
  padding-top: 30px
  padding-left: 30px
  margin-top: -20px
  margin-left: -20px
  margin-bottom: 20px
  *
    display: inline-block
    float: left
    position: relative
  .mosigra-logo
    background-image: url("images/mosigra-logo-white.png")
    background-size: cover
    height: 90px
    width: 100px
  .coffee-out-logo
    background-image: url("images/coffee-out-logo-white1.png")
    background-size: cover
    height: 90px
    width: 100px
  .mosigra-text
    background-image: url("images/mosigra-text-white.png")
    background-size: cover
    height: 100px
    width: 550px
  menu 
     
    .checked-button
      color: white
      background-color: #c22
      border: 2px solid white
      margin-left: 2px
      margin-right: 2px     
    button 
      @extend .red-button 
      font-size: 18px
      text-transform: uppercase
    button:hover
      @extend .red-button:hover