.ibutton, .red-button, header menu a, .white-button {
  height: 100%;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
  padding: 5px; }

.red-button, header menu a {
  color: white;
  background-color: #b11;
  border: 0px solid #b11;
    border-right: 2px solid white; }

.red-button:hover, header menu a:hover {
  color: white;
  background-color: #c22; }

.white-button {
  color: #b11;
  background-color: white;
  border: 2px solid #b11; }

.white-button:hover {
  color: white;
  background-color: #b11; }

header {
  position: fixed;
  background-color: #b11;
  height: 50px;
  width: 100%;
  padding-top: 30px;
  padding-left: 30px;
  margin-top: -20px;
  margin-left: -20px;
  margin-bottom: 20px;
  overflow: hidden; }
  header * {
    display: inline-block;
    float: left;
    position: relative; }
  header .mosigra-logo {
    background-image: url("images/mosigra-logo-white.png");
    background-size: cover;
    width: 60px;
    height: 50px;
    margin-top: -5px; }
  header .coffee-out-logo {
    background-image: url("images/coffee-out-logo-white1.png");
    background-size: cover;
    width: 50px;
    height: 50px;
    margin-top: -5px; }
  header .mosigra-text {
    background-image: url("images/mosigra-text-white.png");
    background-size: cover;
    width: 270px;
    height: 50px;
    margin: -5px 30px 0 0; }
  header menu {
    margin: 5px 0 0 0;
    padding: 0; }
    header menu .checked-button {
      color: white;
      background-color: #c33; }
    header menu .checked-button:hover {
      background-color: #d33; }
    header menu a {
      text-decoration: none; }
    header menu a:hover {
      cursor: pointer;
      text-decoration: none; }
    header menu a:last-child {
      border-right: 0px solid white; }
  header .exit-button {
    background-color: #b11;
    border: 0px;
    color: white;
    float: right;
    margin-right: 30px;
    margin-top: 5px;
    padding: 5px 0;
    font-size: 16px; }
    header .exit-button i {
      float: right;
      padding-left: 5px; }
  header .exit-button:hover {
    background-color: #c33;
    cursor: pointer; }

.sign-in-block button {
  height: 30px;
  border: 1px;
  display: inline-block;
  float: left;
  padding: 5px;
  font-weight: 600;
  color: #fff; }

.button {
  background-color: #b11;
  margin: 10px; }

.button:hover {
  background-color: #c22; }

.vk-block {
  background-color: #f22;
  height: 30px;
  display: inline-block;
  margin: 10px; }

.vk-block:hover .vk-button,
.vk-block:hover .vk-image {
  background-color: #7092b9; }

.vk-image, .vk-button {
  background-color: #5e81a8;
  float: left; }

.vk-image {
  font-size: 26px;
  height: 30px;
  width: 30px;
  display: block;
  color: #fff; }

.info {
  white-space: pre-wrap;
  width: 400px;
  padding: 0;
  height: 100%;
  color: #333;
  float: left;
  background-color: #acacac; }
  .info .info-block {
    height: 100%;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    margin: 5px; }

/*# sourceMappingURL=enter-page.css.map */
