$main-color: #b11

.reg-block
  width: 500px
  height: 300px
  margin: auto
  background-color: white 
  padding: 10px 10px 20px 10px
  margin-top: 70px
  border-radius: 10px
  border: 2px solid $main-color
  .description
    color: $main-color
    font-weight: 600
  form 
    width: 310px
    margin: auto
    margin-top: 15px
    .text 
      width: 300px 
      display: block
      margin: 10px 
    input[type="submit"]
      color: $main-color
      font-weight: 600
      background-color: white
      height: 30px
      border: 2px solid $main-color
      border-radius: 5px
      float: right
      margin-top: 10px
      text-transform: uppercase
    input[type="submit"]:hover
      color: white
      background-color: $main-color
      cursor: pointer