.ibutton, .red-button, .white-button {
  height: 100%;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
  padding: 5px; }

.red-button {
  color: white;
  background-color: #b11;
  border: 0px solid #b11;
    border-right: 2px solid white; }

.red-button:hover {
  color: white;
  background-color: #c22; }

.white-button {
  color: #b11;
  background-color: white;
  border: 2px solid #b11; }

.white-button:hover {
  color: white;
  background-color: #b11; }

.main-button, .button {
  color: #b11;
  font-weight: 600;
  background-color: white;
  height: 30px;
  border: 2px solid #b11;
  border-radius: 5px;
  float: right;
  margin-top: 5px;
  text-transform: uppercase; }

.main-button:hover, .button:hover {
  color: white;
  background-color: #b11;
  cursor: pointer; }

body {
  background: lightblue url(images/background.jpg) fixed no-repeat;
  background-size: cover; }

main {
  margin: auto;
  display: block;
  width: 1100px;
  height: 100%;
  padding: 70px 10px 40px 10px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start; }

.left-in, .right {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  display: block; }

.left {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.right {
  width: 600px;
  float: right; }

.user-info {
  height: 100px; }

.name, .tel, .email {
  width: 70%;
  height: 20px;
  float: left; }

.tel i, .email i {
  color: #999;
  font-size: 15px;
  display: none; }

.tel:hover, .email:hover {
  cursor: default; }
  .tel:hover i, .email:hover i {
    display: inline-block;
    cursor: pointer; }
  .tel:hover i:hover, .email:hover i:hover {
    color: #b11; }

.name, .header {
  font-weight: 600;
  font-size: 18px;
  color: #b11;
  margin: 0 0 5px 0; }

.photo {
  width: 100px;
  height: 100px;
  float: left;
  background-image: url("images/photo.jpg");
  background-size: cover;
  border-radius: 50px;
  margin-right: 10px; }
  .photo .photo-buttons {
    float: right;
    padding: 0;
    width: 100px;
    height: 100px;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px; }
    .photo .photo-buttons button {
      background-color: transparent;
      width: 100%;
      text-align: center;
      margin: 0;
      padding: 0 2px;
      border: 2px solid transparent;
      color: rgba(255, 255, 255, 0.5); }
    .photo .photo-buttons button:hover {
      color: white;
      cursor: pointer; }
    .photo .photo-buttons button:first-child {
      margin-top: 25%; }

.photo:hover .photo-buttons {
  display: block; }

.progress {
  width: 500px;
  height: 25px;
  margin: 0 0 -1px 0;
  padding: 0;
  background-color: #fff;
  border: 0px; }

.progress-block {
  padding: 3px;
  border: 2px solid;
  width: 500px;
  margin: auto;
  margin-bottom: 10px; }

.events {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.event-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.event-block:hover .event-name, .event-block:hover .event-count {
  font-weight: 600;
  color: #b11; }

.red-block {
  border-color: #d33; }

.green-block {
  border-color: #3d3; }

.yellow-block {
  border-color: #fd3; }

.red::-webkit-progress-bar {
  background-color: #fff;
  color: #d33; }

.red::-moz-progress-bar {
  background: #d33; }

.red::-webkit-progress-value {
  background: #d33; }

.green::-webkit-progress-bar {
  background-color: #fff;
  color: #3d3; }

.green::-moz-progress-bar {
  background: #3d3; }

.green::-webkit-progress-value {
  background: #3d3; }

.yellow::-webkit-progress-bar {
  background-color: #fff;
  color: #fd3; }

.yellow::-moz-progress-bar {
  background: #fd3; }

.yellow::-webkit-progress-value {
  background: #fd3; }

/*# sourceMappingURL=userpage.css.map */
